.container {
  background-color: #fafafa;
  
  .adminPanelOne {
    padding: 4.125rem 11.313rem;
    padding-bottom: 2.563rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    place-content: space-evenly;
    width: 100%;

    .addFiles,
    .addSellers {
      width: 35vw;
      min-height: 70rem;
      background: #ffffff;
      box-shadow: 40px 40px 80px rgba(3, 15, 43, 0.02);
      border-radius: 10px;
      position: relative;

      padding: 2.5rem;

      h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
      }

      textarea,
      input {
        margin-top: 1.5rem;
        width: 100%;
        background: #ffffff;
        border: 1px solid #c1cade;
        border-radius: 5px;
        resize: none;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #214251;
        padding: 0.5rem;
      }

      input {
        margin: 1rem 0;
      }

      .infoInput {
        position: relative;

        .limit {
          position: absolute;
          right: 6px;
          bottom: 12px;
          z-index: 2;

          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #989da7;
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        place-content: space-between;
        width: 90%;
        position: absolute;
        bottom: 2.5rem;
        left: 50%;
        transform: translateX(-50%);

        button {
          border: 1px solid #214251;
          border-radius: 50px;
          background-color: transparent;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #214251;
          transition: 0.2s ease-in-out;
          padding: 0.5rem 2rem;
          cursor: pointer;
        }

        .cancel {
          &:hover {
            background-color: #214251;
            color: white;
          }
        }

        .save {
          background-color: #214251;
          color: white;

          &:hover {
            background-color: darken(#214251, 20%);
          }
        }

        .disabledSave {
          opacity: 0.5;
          cursor: default;

          &:hover {
            background-color: #214251;
          }
        }
      }
    }

    .addSellers {
      position: relative;
      align-self: stretch;
    }
  }
}

@media only screen and (max-width: 1800px) {
  .container {
    .adminPanelOne {
      padding: 4rem;
      padding-bottom: 2.563rem;
    }
  }
}
@media only screen and (max-width: 1700px) {
  .container {
    .adminPanelOne {
      padding: 3rem;
      padding-bottom: 2.563rem;

      .addFiles,
      .addSellers {
        width: 38vw;
        padding: 2rem;

        h3 {
          font-size: 17px;
        }

        textarea,
        input {
          margin-top: 0.75rem;
          font-size: 14px;
        }

        input {
          margin: 0.75rem 0;
        }

        .infoInput {
          .limit {
            font-size: 12px;
          }
        }

        .buttons {
          margin-top: 2rem;

          button {
            font-size: 13px;
            padding: 0.3rem 1.5rem;
          }
        }
      }

      .addSellers {
        min-height: 46rem;
      }
    }
  }
}
