.carousel {
  max-width: 22vw;
  position: relative;
  overflow: visible;
  user-select: none;
  box-sizing:border-box;

  .property {
    padding-bottom: 4.5rem;
    max-height: 40vh;
    width: 26rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: visible;
    padding-top: 1rem;
    box-sizing:border-box;


    .imgHolder {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: calc(26rem * 0.7);
      background-size: cover;
    }
  }

  .propertyDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid #d8dee7;
    box-shadow: 0px 4px 80px rgba(29, 102, 153, 0.03);
    border-radius: 0 0 10px 10px;
    padding: 0.5rem 1.25rem;
    z-index: 2;
    position: absolute;
    width: 26rem;
    bottom: 2rem;

    p {
      font-family: "Circular Std";
      font-style: normal;
      font-weight: 450;
      font-size: 17px;
      line-height: 25px;
      color: #214251;
    }

    svg {
      width: 20px;
      height: 24px;
      color: #214251;
      margin-right: 0.656rem;
    }
  }

  .sellerPfp {
    margin-right: 0;
    margin-top: 0px;
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    right: 0;
    top: 0;
    border-radius: 50%;
    box-shadow: 0px 4px 80px rgba(29, 102, 153, 0.05);
  }
}

@media only screen and (max-width: 1800px) {
  .carousel {
    .property {
      width: 24rem;

      .imgHolder {
        height: calc(24rem * 0.7);
      }
    }

    .propertyDetails {
      padding: 0.8rem;
      width: 24rem;

      p {
        font-size: 1rem;
      }
    }

    .sellerPfp {
      width: 4rem;
      height: 4rem;
    }
  }
}

@media only screen and (max-width: 1700px) {
  .carousel {
    max-width: 24vw;
    .property {
      width: 23rem;

      .imgHolder {
        height: calc(23rem * 0.7);
      }
    }

    .propertyDetails {
      padding: 0.8rem;
      width: 23rem;

      p {
        font-size: 1rem;
      }
    }

    .sellerPfp {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}

@media only screen and (min-width: 2100px) {
  .carousel {
    .property {
      width: 28rem;

      .imgHolder {
        height: calc(28rem * 0.7);
      }
    }

    .propertyDetails {
      padding: 1rem;
      margin-top: -1.5rem;
      width: 28rem;

      p {
        font-size: 1.2rem;
      }

      svg {
        width: 24px;
        height: 27px;
      }
    }

    .sellerPfp {
      width: 5rem;
      height: 5rem;
    }
  }
}

@media only screen and (min-width: 2200px) {
  .carousel {
    .property {
      width: 33rem;

      .imgHolder {
        height: calc(33rem * 0.7);
      }
    }

    .propertyDetails {
      width: 33rem;
    }

    .sellerPfp {
      width: 6rem;
      height: 6rem;
    }
  }
}

@media only screen and (min-width: 2450px) {
  .carousel {
    .property {
      width: 35rem;

      .imgHolder {
        height: calc(35rem * 0.7);
      }
    }

    .propertyDetails {
      width: 35rem;
    }
  }
}
