.forsaljning {
  height: 44vh;
  width: 38.5%;
  background: #ffffff;
  box-shadow: 0px 4px 80px rgba(33, 66, 81, 0.05);
  border-radius: 10px;
  padding: 1.75rem 1.438rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #214251;
  }

  .content {
    margin-top: 2.313rem;
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    place-content: space-evenly;

    .chart {
      display: flex;
      align-items: flex-end;
      height: 30vh;

      .person {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 1.625rem;

        .pfpHolder {
          min-width: 3.438rem;
          max-width: 3.438rem;
          min-height: 3.438rem;
          max-height: 3.438rem;
          border-radius: 50%;
          overflow: hidden;
        }

        .bar {
          margin: 0.625rem 0;
          background: #214251;
          border-radius: 7px 7px 0px 0px;
          width: 3.125rem;
        }

        p {
          font-weight: 500;
          font-size: 17px;
          line-height: 22px;
          color: #214251;
        }
      }
    }

    .info {
      display: flex;
      align-items: center;
      flex-direction: column;

      .infoBlock {
        margin: 0.75rem 0;
        width: 10rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 1.625rem 3rem;

        background: #ffffff;
        box-shadow: 0px 4px 20px rgba(29, 102, 153, 0.1);
        border-radius: 20px;

        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #214251;
        }

        h3 {
          font-weight: 500;
          font-size: 40px;
          line-height: 51px;
          color: #202020;
        }
      }
    }
  }
}

@media only screen and (max-width: 1800px) {
  .forsaljning {
    padding: 1rem;

    h2 {
      font-size: 20px;
    }

    .content {
      .chart {
        p {
          font-size: 14px;
        }
      }

      .info {
        .infoBlock {
          width: 8rem;
          padding: 0.8rem 1.5rem;

          p {
            font-size: 14px;
          }

          h3 {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1700px) {
  .forsaljning {
    padding: 0.5rem;
    height: 46.5vh;

    h2 {
      font-size: 18px;
    }
  }
}
