.container {
  .home {
    padding: 3rem 4rem;

    .top,
    .bottom {
      display: flex;
      align-items: center;
    }

    .top {
      margin-bottom: 1.5rem;
    }
  }
}

@media only screen and (max-width: 1800px) {
  .container {
    .home {
      padding: 2rem 3rem;
    }
  }
}

@media only screen and (max-width: 1700px) {
  .container {
    .home {
      padding: 1rem;
    }
  }
}
