.koksvecka {
  height: 44vh;
  width: 22%;
  background: #ffffff;
  box-shadow: 0px 4px 80px rgba(33, 66, 81, 0.05);
  border-radius: 10px;
  padding: 1.75rem 1.438rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #214251;
  }

  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #214251;
  }

  p {
    font-style: normal;
    font-weight: 450;
    font-size: 12px;
    line-height: 15px;
    color: #484a50;
  }

  .vecka {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;

    .people {
      display: flex;
      align-items: center;
      width: 100%;
      place-content: space-evenly;
      margin-top: 0.813rem;

      .person {
        display: flex;
        align-items: center;
        flex-direction: column;

        .pfpHolder {
          width: 3.438rem;
        }

        p {
          margin-top: 0.22rem;
        }
      }
    }
  }

  .disclaimer {
    position: absolute;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    background: #f1f0ec;
    box-shadow: 0px 4px 80px rgba(33, 66, 81, 0.05);
    border-radius: 10px;
    padding: 1.25rem 2rem;

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #214251;
    }
  }
}

@media only screen and (max-width: 1800px) {
  .koksvecka {
    padding: 1rem;

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 16px;
    }

    p {
      font-size: 11px;
    }

    .vecka {
      margin-top: 0.5rem;
    }

    .disclaimer {
      p {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 1700px) {
  .koksvecka {
    padding: 0.5rem;
    height: 46.5vh;

    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 15px;
    }

    p {
      font-size: 10px;
    }

    .vecka {
      margin-top: 0.5rem;
      .people {
        .person {
          .pfpHolder {
            width: 2.5rem;
          }
        }
      }
    }

    .disclaimer {
      padding: 0.7rem;
      p {
        font-size: 12px;
      }
    }
  }
}
