.box {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 40px 40px 80px rgba(3, 15, 43, 0.02);
  border-radius: 10px;
  outline: none;

  h2 {
    padding: 2rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    text-align: left;
    color: #000000;
  }

  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: rgba(230, 233, 238, 0.6);
    border-radius: 5px;
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.2s ease-in-out;

    svg {
      width: 1.3rem;
      height: 1.3rem;
    }

    &:hover {
      background-color: darken(rgba(230, 233, 238, 0.6), 20%);
    }
  }

  .top {
    width: 100%;
    border-bottom: 1px solid #e1dddd;

    .content {
      padding: 0 2rem;
      display: flex;
      align-items: center;
      place-content: space-between;

      h3 {
        padding-bottom: 0.5rem;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        border-bottom: 5px solid black;
      }

      .searchbar {
        padding-bottom: 0.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
          width: 1.2rem;
          height: 1.2rem;
          color: #959fab;
          margin-right: 0.5rem;
        }

        input {
          border: none;
          background-color: transparent;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 30px;
          color: #959fab;
          outline: none;
        }
      }
    }
  }

  .grid {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    .seller {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: fit-content;
      padding: 1.5rem;
      background: #ffffff;
      border: 1px solid #c5cad1;
      border-radius: 20px;
      cursor: pointer;

      p {
        margin-top: 1rem;
        font-style: normal;
        font-weight: 450;
        font-size: 16px;
        line-height: 28px;
        color: #214251;
      }
    }

    .selected {
      border-color: #214251;
      box-shadow: 40px 40px 80px rgba(3, 15, 43, 0.02);
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    place-content: space-between;
    width: fit-content;
    margin: 1rem auto;

    button {
      margin: 0 1rem;
      border: 1px solid #214251;
      border-radius: 50px;
      background-color: transparent;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #214251;
      transition: 0.2s ease-in-out;
      padding: 0.5rem 2rem;
      cursor: pointer;
    }

    .cancel {
      &:hover {
        background-color: #214251;
        color: white;
      }
    }

    .save {
      background-color: #214251;
      color: white;

      &:hover {
        background-color: darken(#214251, 20%);
      }
    }
  }
}

@media only screen and (max-width: 1700px) {
  .box {
    width: 71%;
    h2 {
      padding: 2rem;
      font-size: 21px;
    }

    .close {
      top: 0.5rem;
      right: 0.5rem;
      padding: 0.4rem 0.5rem;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }

    .top {
      .content {
        padding: 0 2rem;

        h3 {
          padding-bottom: 0.5rem;
          font-size: 16px;
          border-bottom: 3px solid black;
        }

        .searchbar {
          padding-bottom: 0.5rem;

          svg {
            width: 1.1rem;
            height: 1.1rem;
            margin-right: 0.5rem;
          }

          input {
            font-size: 14px;
          }
        }
      }
    }

    .grid {
      padding: 2rem;
      gap: 1.5rem;

      .seller {
        padding: 1rem;

        .pfpHolder {
          width: 4rem;
        }

        p {
          margin-top: 0.5rem;
          font-size: 13px;
        }
      }
    }
  }
}
